*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg, #1379b4, #ffffff);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    height: 100vh;
}
.dark-mode {
    background: linear-gradient(45deg,#313131, #afafaf); 
    color: white;
}
.darkb{ 
    height: 36px;  
    width: 100px; 
    border: 2px, solid black;  
    border-radius: 1em;
    margin: 10px;
    margin-left: 30px;
    background-color: #969696;
    transition: 0.2s ease;
    color: rgb(255, 255, 255); 
}

h1{
    padding: 1em;
    color: #ffffff; 
    font-size: 40px;
}
p{
    font-size: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #00507f;
    padding-top: 20px;
}
.caja1{
    background-color: #00507f;
    display: flex; 
    align-items: center;
    justify-content: center; 
    border: none;
    transition: 0.3s ease;
}
.caja1:hover{
    background-color: #00649e;
}
.caja2{ 
    display: flex; 
    align-items: center;
    justify-content: center;
}
.tit2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2em;
}
#nombres{
    background-color: #cccccc;
    text-align: center;
    width: 200px;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.598);  
    transition: 0.3s ease;
    padding: 20px;
}
#nombres:hover{ 
    background-color: white; 
    transform: scale(1.04);
    border-color: #00a2ff;  
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.224); 
    border-radius: 0.5em;
}
.boton2{
    background-color: #e4e4e4;
    text-align: center;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.598);  
    transition: 0.3s ease;
    padding: 5px;
    transition: 0.1s ease;
    margin-right: 5px;
    margin-left: 5px;
}
.boton2:hover{
    background-color: #00a2ff;
    color: white;
    transform: scale(1.07);
}
.boton2:active{ 
    transform: scale(0.9); 
    background-color: #cbecff;
    border-color:  rgb(0, 162, 255);
    color: black;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0);
}
.buscar{
    background-color: #0084ff;
    background-image: url(lupa.png);

    text-align: center;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.598);  
    transition: 0.3s ease;
    padding: 5px;
    transition: 0.1s ease;
    margin-right: 5px;
    margin-left: 5px;
}
.buscar:hover{
    background-color: #00a2ff;
    color: white;
    transform: scale(1.07);
}
.buscar:active{ 
    transform: scale(0.9); 
    background-color: #cbecff;
    border-color:  rgb(0, 162, 255);
    color: black;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0);
}
#tabla { 
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 30px; 
    padding: 30px;
    background-color:  #00507f; 
    transition: 0.3s ease;
    color: white;
    border:none;
}
#tabla:hover{
    background-color: #00649e; 
}
#tabla td {
    margin: 15px;
    padding: 15px;  
    text-align: center;
    background-color: #0084ff;  
    transition: 0.3s ease;
    border: none;
    border-radius: 0.5em ;

} 
#tabla td:hover {
    background-color:  #ffffff; 
    color: rgb(81, 81, 81);
    cursor: pointer; 
    border-radius: 0.2em;
}

.lista{
    font-size: 25px;
}
button{ 
    height: 35px;  
    width: 100px; 
    border: 1px, solid black;  
    border-radius: 0.7em;
    margin: 30px;
    background-color: #0084ff;
    transition: 0.2s ease;
    color: rgb(255, 255, 255); 
}
button:hover{
    background-color: #4abdff;
    border-color:  #0079bf;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.224);
    transform: scale(1.04); 
}
button:active{ 
    transform: scale(0.9); 
    background-color: #cbecff;
    border-color:  rgb(0, 162, 255);
    color: black;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0);
}